<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document {{title}}</title>
</head>
<body>
    {{>header}}
    <h1>{{title}} </h1>
    <p>created by {{name}}</p>
    <p>{{helpText}}</p>
    <img src="./assets/download.jpeg" alt="">
    {{>footer}}
</body>
</html>